@media (max-width: 480px) {
	/* CSS Responsive table */
	table.openings,
	table.openings thead,
	table.openings tbody,
	table.openings th,
	table.openings td,
	table.openings tr { display: block; }
	table.openings thead tr { position: absolute; top: -9999px; left: -9999px; }
	table.openings tr { border: 1px solid #ccc; margin-bottom: 10px; }
	table.openings td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
	table.openings td:before {	position: absolute;	top: 15px; left: 6px; width: 40%; padding-right: 10px; text-align: left; word-wrap: break-word; font-family: "Crimson text"; font-size: 18px; font-weight: bold;}
	table.openings tr:first-child { position: absolute; top: -9999px; left: -9999px; }
	table.openings td:before { content: attr(data-content); height: 50px; }
	table.openings td.small-padding { padding-top: 15px; padding-bottom: 15px; }
	table.openings td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
	table.openings td.large-padding { padding-top: 25px; padding-bottom: 25px; }
}
